
/* universal selector */
*{
    font-size: x-large;
    text-align: center;
}
/*  id selector  */
#para2{
    color: rgb(6, 180, 255);
}
/* tag selector */
p{
    color: red;
}
/* class selector */
.sts{
    background-color: rgb(16, 49, 233);
    font-style: italic;
}
/* Grouping selectors  */
h2,p{
    color: rgb(225, 210, 210);
}