body {
    background-color: plum;
}

h1 {
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 4px 4px rgba(49, 91, 173, 0.6);
}

div {
    margin: 30px;
    padding: 5px;
    border: 3px solid red;
    width: 250px;
    height: 500px;
    float: left;
    align-items: center;
}

img {

    width: 200px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
}

p {
    padding: 10px;
    text-align: justify;
}

h3 {
    text-decoration: underline;
    text-shadow: 2px 4px 4px rgba(49, 91, 173, 0.6);
}

#one {
    background-color: rgb(170, 92, 243);
}

#two {
    background-color: aquamarine;
}

#three {
    background-color: rgb(122, 248, 19);
}

#four {
    background-color: rgb(233, 81, 165);
}